* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    margin: 20px;
    padding: 12px 16px;
    font-size: 16px;
    color: #fff;
    background-color: #0081cb;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.btn:after {
    content: "";
    background-color: #0081cb64;
    display: block;
    position: absolute;
    opacity: 0;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    transition: all 0.8s;
}

.btn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}