.btn {
  border: none;
  padding: 14px 28px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  background: white;
}

.btn-round {
  border-radius: 4px;
  padding: 14px 28px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  background: white;
}

.success:hover {
  background: #58b19f;
  color: white;
}

.success {
  border: 2px solid #58b19f;
  color: #58b19f
}

.info:hover {
  background: #1b9cfc;
  color: white;
}

.info {
  border: 2px solid #1b9cfc;
  color: #1b9cfc
}

.warning:hover {
  background: #f97f51;
  color: white;
}

.warning {
  border: 2px solid #f97f51;
  color: #f97f51
}

.danger:hover {
  background: #fc427b;
  color: white;
}

.danger {
  border: 2px solid #fc427b;
  color: #fc427b;
}

.default:hover {
  background: #2c3a47;
  color: white;
}

.default {
  border: 2px solid #2c3a47;
  color: black;
}
