.container {
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.box {
    width: 200px;
    height: 200px;
    background: #0081cb;
    transition: transform 1s ease-out;
}
.box:hover {
    transform: scale(1.5);
    transition: transform 1s ease-out;
}