#tool-tip {
    position: absolute;
    height: 24px;
    color: #ffffff;
    background-color: #0081cb;
    top: 25px;
    left: 0px;
    margin-top: -35px;
    margin-left: -10px;
    padding: 4px 10px 2px 10px;
    border-radius: 4px;
}

body {
    height: 100%;
    width: 100%;
    position: fixed;
}