.tab-links {
    border: none;
    padding: 12px 16px;
    background: #0081cb;
    color: #ffffff;
    float: left;
    width: 25%;
    cursor: pointer;
    outline: none;
}

.tab-content {
    height: 100vh;
    padding: 50px;
    display: none;
    color: white;
    text-align: center;
}

.tab-links:hover {
    background: #0081cbaa;
}

#london {
    background-color: red;
}

#paris {
    background-color: green;
}

#delhi {
    background-color: blue;
}

#oslo {
    background-color: orange;
}