* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top-nav {
    background-color: #555;
    overflow: hidden;
}

.top-nav a {
    text-decoration: none;
    color: #ffffff;
    padding: 14px 16px;
    float: left;
    text-align: center;
    font-size: 16px;
}

.top-nav a:hover {
    background-color: #0081cb;
}

.active {
    background-color: #0081cb;
}