* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #8ccbff;
}
.tab {
  display: flex;
  justify-content: center;
}
.tab .tablinks {
  border: none;
  padding: 10px;
  width: 100%;
  height: 50px;
  cursor: pointer;
  background-color: #0081cb;
  color: #ffffff;
  margin: -8px;
}
.tab .tablinks:hover {
  background-color: #41b3f5;
}
.tab button.active {
  background-color: #41b3f5;
}
.tab-content {
  background-color: #8ccbff;
  height: 100%;
  position: fixed;
  width: 100%;
  animation: fadeEffect 1s;
  -webkit-animation: fadeEffect 1s;
  padding: 20px;
  top: 50px;
}
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
