* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.drop-btn {
    outline: none;
    border: none;
    padding: 12px;
    margin: 10px 10px 0px 10px;
    background-color: #0081cb;
    color: #fff;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    margin-left: 10px;
    position: absolute;
    display: none;    
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    text-decoration: none;
    background-color: #eee;
    color: #000;
    display: block;
    padding: 10px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}