* {
    box-sizing: border-box;
}

.tab {
    float: left;
    border: 1px solid #ccc;
    width: 30%;
    height: 300px;
    background-color: #f1f1f1;
}

.tab button {
    border: none;
    outline: none;
    display: block;
    padding: 22px 16px;
    width: 100%;
    cursor: pointer;
    background-color: inherit;
    text-align: left;
    color: black;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #dddddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    float: left;
    width: 70%;
    height: 300px;
    border-left: none;
    padding: 0px 12px;
    border: 1px solid #ccc;
    transition: 0.3s;
    animation: fadeEffect 1s;
    -webkit-animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
